body, html {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    visibility: hidden;
}

header {

    margin-top: 10px;

    #grocery-logo {
        float: left;
        width: 550px;
    }

    #logo {
        float: right;
        width: 300px;
        zoom: 1.7;
        margin-top: -50px;
        margin-bottom: -100px;
        margin-right: 50px;
    }
}

#placeholder-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: none;
    text-align: center;

    h1 {
        margin-top: 50px;
    }

    img {
        margin-top: 5px;
        width: 50vw;
    }
}

#wrapper {
    padding-left: 50px;
}

#info-container {
    position: relative;
    z-index: 1;

    h4 {
        font-weight: lighter;
        font-size: 150%;
        border-bottom: 2px solid #000;
    }

    div {
        display: inline-table;
        width: 50%;
    }

    #info-block-1 {
        margin-top: 400px;
        margin-left: -550px;

        p {
            color: gray;
        }
    }

    span {
        letter-spacing: -9px;
    }

    span:nth-child(1) {
        color: #F36E20;
    }

    span:nth-child(2) {
        color: #F9F381;
    }

    span:nth-child(3) {
        color: #4AC4CF;
    }
    
    span:nth-child(4) {
        color: #201A57;
    }
}

.xylky {
    width: 80px;
}

#info-p {
    margin-top: -30px;
    font-weight: normal;
    font-style: italic;
}

#ajax-contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    input {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 50px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
    }

    input[type=text], input[type=email] {
        border-bottom: 1px solid #000;
    }

    input:focus {
        outline: none;
    }

    #waving-xylky {
        width: 300px;
        position: absolute;
        z-index: 0;
        margin-top: -130px;
        margin-left: 350px;
    }
    
    #send-button {
        cursor: default;
        font-family: Helvetica, sans-serif;
        display: block;
        font-size: 20px;
        margin-top: -10px;
        padding: 15px;
        padding-right: 37px;
        padding-left: 37px;
        border: none;
        color: #fff;
        background-color: #d9d9d9;
    }
}

#file-submit::-webkit-file-upload-button {
    margin-top: 10px;
    padding-right: 200px;
    visibility: hidden;
}

input[type=file]::before {
    content: "Upload your design";
    padding: 15px;
    background-color: #F46E21;
    color: #fff;
    margin-left: -10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#goodluck-xylky {
    position: absolute;
    margin-top: 150px;
    left: 70px;
    width: 200px;
}

a {
    color: #000;
    text-decoration: none;
}

#canvas-container {
    position: relative;
    z-index: 3;
    float: right;
    margin-top: -500px;
    margin-right: -60px;

    #download-button {
        font-size: 22px;
        padding: 15px;
        background-color: #F46E21;
        color: #fff;
        margin-left: 250px;
        margin-top: -50px;
        border: none;
        color: #fff;
        background-color: #F46E21;
    }

    #download-button {

        a {
            color: #fff;
        }
    }
}

#buttons-container {
    position: absolute;
    margin-top: -200px;
    left: 35vw;
}

#view-submissions {
    font-size: 22px;
    padding: 15px;
    background-color: #F46E21;
    color: #fff;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

#submissions-container {
    position: fixed;
    bottom: -1000px;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4;

    #countdown-xylky {
        position: absolute;
        margin-left: 15vw;
        width: 200px;
    }

    h1, p {
        margin-top: 50px;
        text-align: center;
    }

    #submissions-images {
        text-align: center;
        margin-top: 150px;
        
        .submissions-img {
            width: 50%;
        }

        div {
            margin-bottom: 200px;

            #voting-button {
                position: absolute;
                zoom: 0.8;
                margin-top: -50px;
                cursor: pointer;

                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
            }
    
            #voting-button:hover {
                transform: scale(0.95);
            }
        }
    }

    #close-submissions-button {
        position: fixed;
        left: 70px;
        background-color: transparent;
        border: none;
        font-size: 100px;
        cursor: pointer;
    }
}

footer {
    text-align: center;
    margin-top: -50px;
    zoom: 0.6;

    #footer-content {
        margin-left: -130px;
    }

    #xylk-logo {
        float: right;
        margin-top: -100px;
        margin-right: 440px;
        padding-top: 30px;
        width: 150px;
    }

    #hullmark-logo {
        margin-top: -100px;
        margin-left: 1650px;
        padding-bottom: 10px;
        width: 200px;
    }

    img {
        width: 100px;
    }
}

//SMALLER DESKTOP
@media only screen and (min-width: 1005px) and (max-width: 1404px) {

    #canvas-container {
        zoom: 0.7;
        margin-top: -41vw;
        margin-right: 100px;

        #download-button {
            font-size: 25px;
            padding: 20px;
            background-color: #F46E21;
            color: #fff;
        }
    }

    #file-submit {
        margin-top: -10px;
    }

    footer {
        text-align: center;
        margin-top: -65px;
        zoom: 0.6;
    
        #footer-content {
            margin-left: -130px;
        }
    
        #xylk-logo {
            float: right;
            margin-top: -100px;
            margin-right: 450px;
            padding-top: 30px;
            width: 150px;
        }
    
        #hullmark-logo {
            margin-top: -100px;
            margin-left: 1500px;
            padding-bottom: 10px;
            width: 200px;
        }
    
        img {
            width: 100px;
        }
    }
 }

 //TABLET
 @media only screen and(min-width: 450px) and (max-width: 1005px) {

    #info-container {

        div {
            width: 80%;
        }
    }

    #canvas-container {
        float: left;
        margin-top: -100px;
        margin-left: -200px;
        zoom: 0.7;
    }

    #ajax-contact {
        margin-top: 500px;
    }

    #view-submissions {
        margin-top: 250px;
        margin-left: 20vw;
        margin-bottom: 200px;
    }

    #waving-xylky {
        top: 800px;
    }

    #goodluck-xylky {
        margin-top: -200px;
        margin-left: 400px;
        width: 250px;
    }

    #countdown-xylky {
        position: absolute;
        right: 5px;
    }

    footer {

        #hullmark-logo {
            margin-top: 50px;
            margin-left: 50px;
            float: left;
        }

        #xylk-logo {
            margin-top: 10px;
        }
    }

 }


//MOBILE
@media only screen and (min-width: 200px) and (max-width: 450px) {

    body,html {
        overflow-x: hidden;
    }

    #info-container {
        
        div {
            width: 70%;
        }
    }

    #canvas-container {
        margin-top: -100px;
        margin-right: -115px;
        zoom: 0.7;
    }

    #ajax-contact {
        margin-top: 500px;
        margin-left: -18vw;
        margin-bottom: -150px;

        input[type=text], input[type=email] {
            width: 100%;
        }

        input[type=file] {
            margin-left: 5vw;
            zoom: 0.8;
        }

        #send-button {
            margin-top: -70px;
        }

        button {
            position: relative;
            z-index: 3;
            margin-top: -72px;
            margin-right: 5vw;
            float: right;
            zoom: 0.8;
        }

        h3 {
            width: 80%;
            text-align: center;
            margin-left: 30px;
        }
    }

    #view-submissions {
        margin-top: 20vw;
        margin-left: -9vw;
        margin-bottom: 100px;
    }

    #goodluck-xylky {
        width: 150px;
        margin-top: 300px;
        left: 30vw;
    }

    #submissions-container {

        h1 {
            margin-top: 100px;
        }

        #countdown-xylky {
            width: 100px;
        }
    }

    #close-submissions-button {
        margin-left: 100px;
    }

    footer {
        margin-top: 200px;

        #hullmark-logo {
            float: left;
            margin-left: 10px;

            img {
                width: 100px;
            }
        }

        #xylk-logo {
            width: 100px;
            margin-top: 0px;
            margin-right: 10px;
        }
    }
}

//PLACEHOLDER MEDIA QUERY
@media only screen and (min-width: 200px) and (max-width: 1330px) {

    #wrapper {
        display: none;
    }

    #placeholder-page {
        display: block;
    }
}